;; ====================================================================
;; Clojure
;; ====================================================================


/.clj-kondo/.cache/
/target/
/.nrepl-port
/pom.xml
/pom.xml.asc


;; ====================================================================
;; Emacs
;; ====================================================================


/.projectile
